:root {
	font-family: "Inter", ui-sans-serif, system-ui, sans-serif, 
		"Apple Color Emoji", "Segoe UI Emoji", Segoe UI Symbol, 
		"Noto Color Emoji";
}

.hidden {
	display: none !important;
}

.modal {
	position: fixed;
	z-index: 10;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.4);

	& .modal-content {
		background-color: rgb(255 255 255);
		margin: 10% auto;
		border-radius: .375rem;

		& .modal-parallel {
			display: flex;
			justify-content: space-between;

			> *:first-child {
				margin-right: .25rem;
				
				& input {
					width: 97%;
				}
			}

			> *:last-child {
				margin-left: .25rem;

				& input {
					width: 95.5%;
				}
			}
		}
	}
}

.modal-row {
	width: 100%;
}

.import-menu {
	height: 50%;
	width: 50%;
	display: flex;
	flex-direction: column;
	align-items: center;
	align-content: center;

	& p {
		margin: auto;
		text-align: center;
		font-weight: 500;
		font-size: 1.5rem;
	}

	& label {
		display: flex;
		align-items: center;
		align-content: center;
		justify-content: space-around;
		padding-bottom: .5rem;

		& input {
			padding-left: 1rem;
			width: 12rem;
			align-self: flex-end;
		}
	}

	&:hover {
		background-color: rgb(243, 244, 246);
	}
}

.add-entry-menu {
	width: 50%;
	height: auto;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 1rem;

	& h2 {
		font-size: 1.25rem;
		line-height: 1.75rem;
		margin-top: 0;
		margin-bottom: 1rem;
	}

	& label {
		margin-bottom: .25rem;
		display: block;
		font-size: .875rem;
		line-height: 1.25rem;
		font-weight: 500;
		color: rgb(55 65 81);
	}

	& input {
		width: 98%;
		font-size: .875rem;
		line-height: 1.25rem;
		margin-bottom: .5rem;
	}

	> *:last-child {
		margin-top: 1.5rem;
		width: 100%;
	}
}

.dropdown {
	position: relative;
	display: inline-block;

	& .dropdown-content {
		box-sizing: border-box;
		position: absolute;
		width: 10rem;
		z-index: 1;
		box-shadow: 0 0 #0000, 0 0 #0000, 
		0 10px 15px -3px rgb(0 0 0 / .1), 0 4px 6px -4px rgb(0 0 0 / .1);
		padding: .25rem;
		background-color: rgb(255 255 255);
		border-width: 1px;
		border-radius: .375rem;

		& a {
			font-size: 1rem;
			color: rgb(3 7 18);
			text-decoration: none;
			display: block;
			line-height: 1.25rem;
			padding-right: 2rem;
			padding-left: .5rem;
			padding-top: .375rem;
			padding-bottom: .375rem;
			border-radius: .375rem;
			cursor: pointer;
			font-weight: 500;

			&:hover {
				background-color: rgb(243, 244, 246);
			}
		}
	}
}

.menu {
	display: flex;
	margin: auto;
	width: 95%;

	& button {
		& img {
			width: 1rem;
			margin-right: .5rem;
		}
	}

	> *:last-child {
		margin-left: auto;
	}
}

button {
	display: inline-flex;
	border-radius: .375rem;
	justify-content: center;
	align-items: center;
	height: 2.25rem;
	cursor: pointer;
	background-color: rgb(255, 255, 255);
	border-style: solid;
	border-width: 1px;
	border-color: rgb(209, 213, 219);
	box-shadow: 0 0 #0000, 0 0 #0000, 
		0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
	margin-right: .75rem;
	padding: .75rem .5rem;
	font-family: Inter, sans-serif;
	font-weight: 600;
	font-size: .875rem;

	& label {
		cursor: pointer;
	}

	&:hover {
		color: rgb(17, 24, 39);
		background-color: rgb(243, 244, 246);
	}
}

.primary-button {
	border-width: 0;
	margin-left: auto;
	margin-right: 0;
	background-color: rgb(37, 99, 235);
	color: rgb(255, 255, 255);

	&:hover {
		color: white;
		background-color: #2563ebe6;
	}
}

table {
	margin: auto;
	margin-top: 1rem;
	width: 95%;
	border: 1px solid rgb(243, 244, 246);
	border-radius: .375rem;
	box-shadow: 0 0 #0000, 0 0 #0000,
		0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);
	border-collapse: collapse;
}

tr {
	border-bottom: 1px solid rgb(229, 231, 235);
}

thead tr {
	height: 2.5rem;

	& th {
		text-align: left;
		padding-left: .25rem;
		font-size: .9rem;
		color: rgb(17, 24, 39);
		cursor: pointer;

		&.number {
			text-align: center;
			vertical-align: middle;
		}

		& > * {
			cursor: pointer;
		}

		& img {
			padding-inline: .25rem;
			width: .6rem;
			vertical-align: middle;
		}

		&:hover {
			background-color: rgb(249, 250, 251);
		}

		&:first-child {
			padding: 0;
			text-align: center;
			width: 2rem;
		}
	}
}

tbody tr {
	height: 2rem;
	border: 1px solid rgb(243, 244, 246);
	position: relative;

	& td {
		color: rgb(55, 65, 81);

		&.number {
			text-align: center;
		}

		&:first-child {
			padding-left: 0;
			text-align: center;
			width: 2rem;
		}

		&:nth-child(2) {
			font-weight: 600;
			cursor: pointer;
		}
	}


	&:hover {
		background-color: rgb(249, 250, 251);
	}
}

.hover-menu {
	display: inline-flex;
	position: absolute;
	top: -1rem;
	right: .5rem;
	background-color: rgb(255, 255, 255);
	border-radius: .375rem;
	border-style: solid;
	border-width: 1px;
	border-color: rgb(209, 213, 219);
	box-shadow: 0 0 #0000, 0 0 #0000, 
		0 1px 3px 0 rgb(0 0 0 / .1), 0 1px 2px -1px rgb(0 0 0 / .1);

	& button {
		margin: 0;
		margin-inline: .1rem;
		height: 1.75rem;
		border: 0;
		box-shadow: none;

		& img {
			width: .9rem;
			filter: brightness(0) saturate(100%) invert(47%) sepia(6%) saturate(914%) hue-rotate(182deg) brightness(92%) contrast(89%);
		}

		&:hover img {
			filter: brightness(0) saturate(100%)
		}
		
	}

	& > button:last-child:hover img {
		filter: brightness(0) saturate(100%) invert(49%) sepia(36%) saturate(748%) hue-rotate(314deg) brightness(108%) contrast(97%);
	}
}

input[type="checkbox"] {
	height: .9rem;
    width: .9rem;
    border-radius: .25rem;
    border-color: rgb(209, 213, 219);
    color: rgb(37, 99, 235);
    padding: 0;
    display: inline-block;
    vertical-align: middle;
    background-origin: border-box;
    user-select: none;
    flex-shrink: 0;
    background-color: #fff;
    border-width: 1px;
	cursor: pointer;
}
